# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules/

# Env
.env
.env.local

# Builds
build/
dist/
dist-ssr
web/dist/

# Expo / React Native
.expo/
ios/.expo/
*.jks
*.p8
*.p12
*.mobileprovision
*.orig.*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?